<!-- footer-section-start -->
<footer class="copy-right mt-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="left-reserved">
                  <p>Copyright © 2021. All Rights Reserved By Leven</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="perivicy-term">
                 <ul class="d-flex justify-content-flex-start align-items-center">
                     <li><a href=""></a>Terms of Service</li>
                     <li><a href=""></a>Privacy Policy</li>
                 </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer-section-end -->
