<!-- banner-the-ultimate-crosse-chain-section-start -->
<section class="crose-chain">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="nft-btn pt-5">
          <h1>
            A User Owned Decentralized Settlement Network For Real World
            Payments.
          </h1>
          <p>BUSINESSES | BUYERS | SELLERS | DEVELOPERS & CREATORS</p>
          <div class="nft-buttonn">
            <a
              href="https://levenproject.org/"
              target="_blank"
              class="btn common-btn"
              type="submit"
            >
              BUY LEVEN
            </a>
            <button
              class="
                btn
                butoon-transparent
                bg-white
                rounded-pill
                w-auto
                mb-0
                fst-normal
              "
              type="submit"
              (click)="scrolltoken()"
            >
              TOKEN DISTRIBUTION
            </button>
          </div>
          <div class="social-icon-nft pt-4">
            <a href="https://t.me/leventoken" target="_blank"
              ><img
                src="../../assets/images/skype.png"
                alt="skype"
                class="px-1"
            /></a>
            <a href="https://twitter.com/ProjectLeven" target="_blank"
              ><img
                src="../../assets/images/twitter.png"
                alt="twitter"
                class="px-2"
            /></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="diamond-boundary position-relative">
          <img
            src="../../assets/images/timer_boundary.png"
            alt="timer_boundary"
          />
          <div class="time-days position-absolute">
            <div
              class="d-flex justify-content-center align-items-center"
              appCountdownTimer
              [endDate]="endDate"
            >
              <div class="days-hors text-center">
                <strong>00<span>:</span></strong>
                <p>Days</p>
              </div>
              <div class="days-hors text-center">
                <strong>00<span>:</span></strong>
                <p>Hours</p>
              </div>
              <div class="days-hors text-center">
                <strong>00<span>:</span></strong>
                <p>Minutes</p>
              </div>
              <div class="days-hors text-center">
                <strong>00</strong>
                <p>Seconds</p>
              </div>
            </div>
            <a routerLink="/refer">
              <button class="btn common-btn dimond-btnn" type="submit">
                JOIN & GET 1000 FREE COINS
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner-the-ultimate-crosse-chain-section-end -->
<section class="mb-4 py-5 video-section">
  <div class="container">
      <div class="row ">
        <div class="col-12">
          <iframe class="w-100 youTube-video" [src]="safeVideoUrl" frameborder="0" allowfullscreen></iframe>
          <!-- <iframe width="1280" height="720" [src]="safeVideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

          <!-- <iframe width="560" height="315" src='https://www.youtube.com/embed/SE_FnuD9zJc'  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
  </div>
</section>
<!-- token-of-of-the-leaven-section-start -->
<section class="token-of-the-leaven pt-5 mt-5 pb-5 mb-5" #about id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="levaen-ecosystem">
          <img
            src="../../assets/images/leven_ecosystem.png"
            alt="leven_ecosystem"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="liquidity-trade">
          <div class="ecosystem-native">
            <h1>
              <span>Leventoken (LEVEN):</span> is an Ethereum based token that
              powers the Leven Project Network blockchain.
            </h1>
            <p>
              What Leven Project Network intends to provide in our Blockchain is
              a new smart network contract that connects the banks (Bank issued
              stablecoins or proposed Federal Digital Dollar), buyers and
              sellers in Leventoken trade, providing a secure and efficient
              process to exchange tokens.
            </p>
            <p>
              Our new no fee network's cost savings would be passed over to
              network owners who are the users in Leventoken trade.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- token-of-of-the-leaven-section-end-->
<!-- token-trade-with-doller-section-start -->
<section class="trade-price pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="liquidity-trade">
          <div class="ecosystem-native">
            <h4>
              <span>Leventoken (LEVEN):</span> is an Ethereum based token that
              powers the Leven Project Network blockchain.
            </h4>
            <p>
              What Leven Project Network intends to provide in our Blockchain is
              a new smart network contract that connects the banks (Bank issued
              stablecoins or proposed Federal Digital Dollar), buyers and
              sellers in Leventoken trade, providing a secure and efficient
              process to exchange tokens.
            </p>
            <p>
              Our new no fee network's cost savings would be passed over to
              network owners who are the users in Leventoken trade.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- <div class="levaen-doller">
          <img src="../../assets/images/leven_trade.png" alt="leven_trade" />
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- token-trade-with-doller-section-end -->

<!-- leaven-token-sllle-section-start -->
<section class="salle-token pt-5 mt-5" #audit id="aduit">
  <div class="container">
    <div class="row">
      <div class="gol-lg-12">
        <div class="dister-token">
          <h1 class="">TOKEN SALE</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="token-detail">
          <h3>LEVEN TOKEN DETAILS</h3>

          <div class="sale-heading d-flex justify-content-start">
            <div class="list-item">
              <ul class="left-li">
                <li class="li-color">Start :</li>
                <li>TBA :</li>
                <li class="li-color">Acceptable currencies :</li>
                <li>Number of tokens for sale:</li>
                <li class="li-color">Tokens exchange rate :</li>
                <li>Transaction fee :</li>
              </ul>
            </div>
            <div class="list-item">
              <ul class="right-li pl-0">
                <li>01 March 2022</li>
                <li class="li-color">TBA</li>

                <li class="li-color">ETH</li>
                <li>100 M</li>
                <li class="li-color">1 LEVEN to $0.1</li>
                <li>2%</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="circle-timing text-center position-relative">
          <img src="../../assets/images/border.png" alt="border" />
          <div class="coin-timing position-absolute">
            <div
              class="d-flex justify-content-center align-items-center"
              appCountdownTimer
              [endDate]="endDate"
            >
              <!-- <div class=" d-flex justify-content-center align-items-center"> -->
              <div class="days-hors text-center">
                <strong>00<span>:</span></strong>
                <p>Days</p>
              </div>
              <div class="days-hors text-center">
                <strong>00<span>:</span></strong>
                <p>Hours</p>
              </div>
              <div class="days-hors text-center">
                <strong>00<span>:</span></strong>
                <p>Minutes</p>
              </div>
              <div class="days-hors text-center">
                <strong>00</strong>
                <p>Seconds</p>
              </div>
            </div>

            <a routerLink="/refer">
              <button class="btn common-btn dimond-btnn" type="submit">
                JOIN & GET 1000 FREE COINS
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- leaven-token-sllle-section-end -->

<!-- distribution-of-token-section-start -->
<section class="distribution-circle pt-5 mt-5 pb-5 mb-4" id="distribution">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dister-token">
          <h1>TOKEN DISTRIBUTION</h1>
        </div>
        <div class="set-size charts-container">
          <div class="box">
            <div class="pie-wrapper progress-1 style-2">
              <span class="label">1.8%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Private Sale</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-6 style-2">
              <span class="label">6.8%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Airdrops</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-16 style-2 color-orange">
              <span class="label">16.6%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Public Sale</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-3 style-2">
              <span class="label">2.3%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Team</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-72 style-2">
              <span class="label">72.5%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Platform Reserve</p>
            </div>
          </div>
          <!-- <div class="box">
            <div class="pie-wrapper progress-5 style-2 color-Bounties">
              <span class="label">5%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Bounties</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-30 style-2">
              <span class="label">30%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Bounus Fund</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- distribution-of-token-section-end -->
<!-- USE OF PROCEEDS -->
<section class="use-of-proceed pt-5 mt-5 pb-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="dister-token">
          <h1 class="">Funds Allocation</h1>
        </div>
        <div class="set-size charts-container">
          <div class="box">
            <div class="pie-wrapper progress-25 style-2 color-Bounties">
              <span class="label">25%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Security</p>
            </div>
          </div>
          <div class="box">
            <div class="pie-wrapper progress-5 style-2 color-orange">
              <span class="label">5%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Legal</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-40 style-2">
              <span class="label">40%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Development & Administration</p>
            </div>
          </div>

          <div class="box">
            <div class="pie-wrapper progress-30 style-2">
              <span class="label">30%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Marketing</p>
            </div>
          </div>

          <!-- <div class="box">
            <div class="pie-wrapper progress-30 style-2">
              <span class="label">30%</span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
              <div class="shadoow"></div>
              <p>Gift Code <span>Inventory</span></p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section-contact-us-section-start -->
<section class="contact-us pt-5 mt-5" #contact id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dister-token">
          <h1 class="">CONTACT US</h1>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="
            info-message
            d-flex
            justify-content-flex-start
            align-items-center
          "
        >
          <p class="d-flex justify-content-center align-items-center">
            <a href="mailto:info@levenproject.org"
              ><img src="../../assets/images/email.png" alt="email" />
              info@levenproject.org</a
            >
          </p>
        </div>
        <div class="follow-us pt-3">
          <p>Follow Us</p>
        </div>
        <div class="contact-icon">
          <a
            href="https://www.facebook.com/Project-Leven-106835928454983/"
            target="_blank"
          >
            <img src="../../assets/images/facebook.png" alt="facebook"
          /></a>
          <a href="https://twitter.com/ProjectLeven" target="_blank"
            ><img
              src="../../assets/images/twitter_footer.png"
              alt="twitter_footer"
          /></a>
          <a href="https://t.me/leventoken" target="_blank">
            <img
              src="../../assets/images/telegram_footer.png"
              alt="telegram_footer"
          /></a>
          <!-- <a href=""><img src="../../assets/images/youtube.png" alt="youtube"></a>
                            <a href=""><img src="../../assets/images/linkedin.png" alt="linkedin"></a> -->
        </div>
      </div>
      <div class="col-lg-8">
        <form action="" [formGroup]="contactUsForm">
          <div class="send-message pt-4 pb-5 mb-5">
            <div class="leave-message">
              <h4>Leave Us A Message</h4>
            </div>
            <div class="mb-3">
              <input
                formControlName="name"
                type="text"
                class="form-control form-none"
                id="formGroupExampleInput"
                placeholder="Name"
              />
              <div
                *ngIf="contactUsFormError && f?.name?.errors"
                class="invalid-feedback d-flex align-items-center w-100"
              >
                <i class="fa fa-info-circle mx-1" aria-hidden="true"></i>
                <span class="pl-1" *ngIf="f.name.errors?.required"
                  >Please enter name.</span
                >
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                formControlName="email"
                class="form-control form-none"
                id="formGroupExampleInput"
                placeholder="Email"
              />
              <div
                *ngIf="contactUsFormError && f?.email?.errors"
                class="invalid-feedback d-flex align-items-center w-100"
              >
                <i class="fa fa-info-circle mx-1" aria-hidden="true"></i>
                <span class="pl-1" *ngIf="f.email.errors?.required"
                  >Please enter email .</span
                >
                <span class="pl-1" *ngIf="f.email.errors?.email"
                  >Please enter valid email .</span
                >
              </div>
            </div>
            <div class="mb-3">
              <textarea
                id="w3review"
                formControlName="message"
                name="w3review"
                rows="4"
                cols="50"
                placeholder="Message"
                class="form-control form-none mesaage-top"
              ></textarea>
              <div
                *ngIf="contactUsFormError && f?.message?.errors"
                class="invalid-feedback d-flex align-items-center w-100"
              >
                <i class="fa fa-info-circle mx-1" aria-hidden="true"></i>
                <span class="pl-1" *ngIf="f.message.errors?.required"
                  >Please enter message .</span
                >
              </div>
            </div>
            <button
              class="btn common-btn send-btn"
              (click)="contactUs()"
              type="submit"
            >
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- section-contact-us-section-end -->
