<!-- banner-the-ultimate-crosse-chain-section-start -->
<section class="crose-chain">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="nft-btn pt-5">
                  <h1>The Ultimate Cross-Chain NFT platform for Collectors and Creators.</h1>
                  <p>GAMING | ART | DEFI | NFTS FOR COLLECTORS & CREATORS</p>
                  <div class="nft-buttonn">
                      <button class="btn common-btn" type="submit" (click)="scroll()">ABOUT US</button>
                      <button class="btn  butoon-transparent bg-white  rounded-pill w-auto mb-0 fst-normal" type="submit" (click)="scrolltoken()">TOKEN DISTRIBUTION</button>
                  </div>
                  <div class="social-icon-nft pt-4">
                      <img src="../../assets/images/skype.png" alt="skype" class="px-1">
                      <img src="../../assets/images/twitter.png" alt="twitter" class="px-2">
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="diamond-boundary position-relative ">
                  <img src="../../assets/images/timer_boundary.png" alt="timer_boundary">
                  <div class="time-days position-absolute">
                      <div class="d-flex justify-content-center align-items-center" appCountdownTimer [endDate]="endDate">
                          <div class="days-hors text-center">
                              <strong>00<span>:</span></strong>
                              <p>Days</p>
                          </div>
                          <div class="days-hors text-center">
                              <strong>00<span>:</span></strong>
                              <p>Hours</p>
                          </div>
                          <div class="days-hors text-center">
                              <strong>00<span>:</span></strong>
                              <p>Minutes</p>
                          </div>
                          <div class="days-hors text-center">

                              <strong>00</strong>
                              <p>Seconds</p>
                          </div>
                      </div>
                      <a routerLink="/refer"> <button class="btn common-btn dimond-btnn" type="submit">JOIN & GET
                          300 FREE COIN</button></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- banner-the-ultimate-crosse-chain-section-end -->

<!-- token-of-of-the-leaven-section-start -->
<section class="token-of-the-leaven pt-5 mt-5 pb-5 mb-5" #about id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="levaen-ecosystem">
                  <img src="../../assets/images/leven_ecosystem.png" alt="leven_ecosystem">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="liquidity-trade">
                  <div class="ecosystem-native">
                      <h1><span>LEVEN</span> is the native governance token of the Leven ecosystem</h1>
                      <p>Leven is the first fully-featured cross-chain NFT platform that allows creators to mint NFTs in minutes, auction them or raise liquidity so that they may be traded via in-game marketplaces or on AMMs such as PancakeSwap and Uniswap.
                      </p>

                      <p>Leven is empowering both digital creators and collectors with next-gen tools and services to introduce digital art and NFTs to the mainstream collector audience.</p>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- token-of-of-the-leaven-section-end-->
<!-- token-trade-with-doller-section-start -->
<section class="trade-price pt-5 mt-5 ">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="liquidity-trade">
                  <div class="ecosystem-native">
                      <h4>Trade LEVEN without price impact.</h4>
                      <p>
                          LEVEN is built around these limitations stifling the growth of this promising pace. The LEVEN team is building a safe and user-friendly place for artists and collectors to seamlessly interact and share value by addressing all of the limitations we just
                          saw about NFTs. Over the remaining parts of this paper, we will be looking at the LEVEN vision and, most importantly, the team’s approach to making the NFT space conducive for the future of virtual exchange.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="levaen-doller">
                  <img src="../../assets/images/leven_trade.png" alt="leven_trade">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- token-trade-with-doller-section-end -->

<!-- leaven-token-sllle-section-start -->
<section class="salle-token pt-5 mt-5" #audit id="aduit">
  <div class="container">
      <div class="row">
          <div class="gol-lg-12">
              <div class="dister-token">
                  <h1 class="">TOKEN SALE</h1>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="token-detail">
                  <h3>LEVEN TOKEN DETAILS</h3>

                  <div class="sale-heading d-flex justify-content-start ">

                      <div class="list-item">
                          <ul class="left-li">
                              <li class="li-color">Start :</li>
                              <li>End :</li>
                              <li class="li-color">Acceptable currencies :</li>
                              <li>Number of tokens for sale:</li>
                              <li class="li-color">Tokens exchange rate :</li>
                              <li>Transaction fee :</li>

                          </ul>
                      </div>
                      <div class="list-item">

                          <ul class="right-li pl-0">
                              <li class="li-color">LVN</li>
                              <li>01 March 2022</li>
                              <li class="li-color">ETH</li>
                              <li>200 M</li>
                              <li class="li-color">1 LEVEN to $0.1</li>
                              <li>2%</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="circle-timing  text-center position-relative ">
                  <img src="../../assets/images/border.png" alt="border">
                  <div class="coin-timing position-absolute">
                    <div class=" d-flex justify-content-center align-items-center" appCountdownTimer [endDate]="endDate">

                      <!-- <div class=" d-flex justify-content-center align-items-center"> -->
                          <div class="days-hors text-center">
                              <strong>00<span>:</span></strong>
                              <p>Days</p>
                          </div>
                          <div class="days-hors text-center">
                              <strong>00<span>:</span></strong>
                              <p>Hours</p>
                          </div>
                          <div class="days-hors text-center">
                              <strong>00<span>:</span></strong>
                              <p>Minutes</p>
                          </div>
                          <div class="days-hors text-center">

                              <strong>00</strong>
                              <p>Seconds</p>
                          </div>
                      </div>


                      <a routerLink="/refer"> <button class="btn common-btn dimond-btnn" type="submit">JOIN & GET
                          300 FREE COIN</button></a>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- leaven-token-sllle-section-end -->

<!-- distribution-of-token-section-start -->
<section class="distribution-circle pt-5 mt-5 pb-5 mb-4" id="distribution">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="dister-token">
                  <h1>DISTRIBUTION OF TOKEN</h1>
              </div>
              <div class="set-size charts-container">
                  <div class="box">
                      <div class="pie-wrapper progress-20 style-2">
                          <span class="label">20%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Token Presale<span>(Round 1)</span></p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-25 style-2">
                          <span class="label">25%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Token Presale<span> (Round 2)</span></p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-5 style-2 color-orange">
                          <span class="label">5%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Core Phase of <span> Token Sale</span></p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-3 style-2">
                          <span class="label">3%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Partners &<span> Advisors</span></p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-12 style-2">
                          <span class="label">12%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p> Project Team</p>
                      </div>
                  </div>
                  <div class="box">
                      <div class="pie-wrapper progress-5 style-2 color-Bounties">
                          <span class="label">5%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Bounties</p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-30 style-2">
                          <span class="label">30%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Bounus Fund</p>
                      </div>
                  </div>


              </div>
          </div>
      </div>
  </div>
</section>
<!-- distribution-of-token-section-end -->
<!-- USE OF PROCEEDS -->
<section class="use-of-proceed pt-5 mt-5 pb-5 mb-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="dister-token">
                  <h1 class="">USE OF PROCEEDS</h1>
              </div>
              <div class="set-size charts-container">
                  <div class="box">
                      <div class="pie-wrapper progress-50 style-2 color-Bounties">
                          <span class="label">50%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Bounty & <span>Overhead</span></p>
                      </div>

                  </div>
                  <div class="box">
                      <div class="pie-wrapper progress-5 style-2 color-orange">
                          <span class="label">5%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Branding & <span> Marketing</span></p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-3 style-2">
                          <span class="label">3%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Legal & <span>Financial Overhead</span></p>

                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-12 style-2">
                          <span class="label">12%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>IT <span>Infrastructure</span></p>
                      </div>
                  </div>

                  <div class="box">
                      <div class="pie-wrapper progress-30 style-2">
                          <span class="label">30%</span>
                          <div class="pie">
                              <div class="left-side half-circle"></div>
                              <div class="right-side half-circle"></div>
                          </div>
                          <div class="shadoow"></div>
                          <p>Gift Code <span>Inventory</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- section-contact-us-section-start -->
<section class="contact-us pt-5 mt-5" #contact id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="dister-token">
                  <h1 class="">CONTACT US</h1>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="info-message d-flex justify-content-flex-start align-items-center">
                  <p class="d-flex justify-content-center align-items-center">
                      <img src="../../assets/images/email.png" alt="email"> info@leven.io
                  </p>
              </div>
              <div class="follow-us pt-3">
                  <p>Follow Us</p>
              </div>
              <div class="contact-icon">
                  <img src="../../assets/images/facebook.png" alt="facebook">
                  <img src="../../assets/images/twitter_footer.png" alt="twitter_footer">
                  <img src="../../assets/images/telegram_footer.png" alt="telegram_footer">
                  <img src="../../assets/images/youtube.png" alt="youtube">
                  <img src="../../assets/images/linkedin.png" alt="linkedin">
              </div>
          </div>
          <div class="col-lg-8">
            <form action="" [formGroup]="contactUsForm">
              <div class="send-message pt-4 pb-5 mb-5">
                  <div class="leave-message">
                      <h4>Leave Us A Message</h4>
                  </div>
                  <div class="mb-3">
                      <input formControlName="name" type="text"  class="form-control form-none" id="formGroupExampleInput" placeholder="Name">
                      <div *ngIf="contactUsFormError && f?.name?.errors"
                        class="invalid-feedback d-flex align-items-center w-100">
                        <i class="fa fa-info-circle mx-1" aria-hidden="true"></i>
                        <span class="pl-1" *ngIf="f.name.errors?.required">Please enter name.</span>
                      </div>
                  </div>
                  <div class="mb-3">
                      <input type="text" formControlName="email" class="form-control form-none" id="formGroupExampleInput" placeholder="Email">
                      <div *ngIf="contactUsFormError && f?.email?.errors"
                        class="invalid-feedback d-flex align-items-center w-100">
                        <i class="fa fa-info-circle mx-1" aria-hidden="true"></i>
                        <span class="pl-1" *ngIf="f.email.errors?.required">Please enter email .</span>
                        <span class="pl-1" *ngIf="f.email.errors?.email">Please enter valid email .</span>
                      </div>
                  </div>
                  <div class="mb-3">
                      <textarea id="w3review" formControlName="message" name="w3review" rows="4" cols="50" placeholder="Message" class="form-control form-none mesaage-top"></textarea>
                      <div *ngIf="contactUsFormError && f?.message?.errors"
                        class="invalid-feedback d-flex align-items-center w-100">
                        <i class="fa fa-info-circle mx-1" aria-hidden="true"></i>
                        <span class="pl-1" *ngIf="f.message.errors?.required">Please enter message .</span>
                      </div>
                    </div>
                  <button class="btn common-btn send-btn" (click)="contactUs()" type="submit">SEND</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</section>
<!-- section-contact-us-section-end -->
