.forget {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent linear-gradient( 180deg, #FEFEFE 0%, #ECECEC 100%) 0% 0% no-repeat padding-box;
}

.otp {
  padding: 20px;
  margin: 6px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DEE2E6;
  border-radius: 10px;
}

.cutome-otp {
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  height: 100%;
  min-height: 80px;
  border: 8px solid #E5E5E5;
  border-radius: 40px;
  margin-left: -100px;
}

.circle-do {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border-radius: 28px;
  background-color: #BF38E6;
  margin-bottom: 8px;
}

.circle-do::after {
  content: '';
  border-bottom: 3px solid #BF38E6;
  width: 50px;
  display: block;
  padding-top: 30px;
  margin-left: -14px;
}

.forget-img img {
  width: 100%;
  max-width: 413px;
}

.forget-img {
  align-items: flex-start;
}

.leave-message h4 {
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 1.5px;
  color: #202020;
}

.form-clasic::placeholder {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #606060;
}

.form-control:focus {
  box-shadow: none;
  border-color: #e5e5e5;
  outline: unset;
  color: unset;
}

.form-clasic {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.login-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.login {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #606060;
}

.login span {
  color: #202020;
  font-weight: bold;
  font-size: 16px;
  line-height: 75px;
}

.send-message {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .leave-message h4 {
      font-size: 24px;
  }
  .common-btn {
      font-size: 12px;
      letter-spacing: 0.6px;
  }
  .login p{
      font-size: 14px;
  }
  .login span {
      font-size: 12px;
  }

}
@media screen and (max-width: 1200px) {

  .leave-message p {
      font-size: 14px;
  }
  .login p{
      font-size: 10px;
  }
  .login span {
      font-size: 12px;
  }
  .common-btn {
      font-size: 10px;

  }
}

@media screen and (max-width: 767px) {
  .forget-img {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding-top: 40px;
  }
  .cutome-otp {
      margin-left: 0px;
  }
  .forget-img img {
      padding-top: 50px;
  }
  .forget {
      height: 100%;
  }
  .send-messagesss {
      padding-bottom: 0px !important;
  }
}
  @media screen and (max-width: 414px){
      .login {
          flex-wrap: wrap-reverse;
          line-height: 10px;
      }
      .login p{
          font-size: 12px;
          padding-bottom: 16px;
      }
      .login span{
          line-height: 30px;

      }
      .edit-email .lvl-coin{
          width: 100%;
          max-width: 240px;
      }
      .leave-message h4 {
          font-size: 24px;
          line-height: 50px;
          padding-top: 24px;
      }
}
