<!-- <div class="d-flex align-items-center justify-content-end w-100 cross cursor-pointer" (click)="close('Save click')">
  <i class="fa fa-times p-4" aria-hidden="true"></i>
</div>
<div class="signup login text-center pt-0 px-4 px-md-5 pb-5">
  <h2 class="mb-1">ChangePassword</h2>
  <small class="font-13 fw-500 mb-4 d-block"></small>
  <div class="">
    <div class="d-flex align-items-center justify-content-center pt-4">
      <form class="row" [formGroup]="changePasswordForm">
        <div class="input-group">
          <div class="form-group col-md-12 flex-column">
            <div class="input-group mb-1">
              <input type="{{ oldInputType }}" class="form-control" id="old_password_input"
                aria-describedby="eventTitle" placeholder="Old password" formControlName="old_password"
                autocomplete="off" maxlength="50" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" *ngIf="oldInputType === 'password'"
                  (click)="oldInputType = 'text'">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                <span class="input-group-text" id="basic-addon2" *ngIf="oldInputType === 'text'"
                  (click)="oldInputType = 'password'">
                  <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div *ngIf="f.old_password.errors" class="col-12 invalid-feedback d-flex align-items-center p-0">
              <div class="d-flex align-items-center" *ngIf="changeFormError && f.old_password.errors?.required">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="pl-1">Please enter old password.</span>
              </div>
              <div class="d-flex align-items-center" *ngIf=" changeFormError && f.old_password.errors?.canNotContainSpace &&
                  !f.old_password.errors?.required ">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="pl-1">Old password can't contain space.</span>

              </div>
            </div>
          </div>
        </div>
        <div class="input-group">
          <div class="form-group col-md-12 flex-column">
            <div class="input-group mb-1">
              <input type="{{ newInputType }}" class="form-control" id="new_password_input"
                aria-describedby="eventTitle" placeholder="New password" formControlName="new_password"
                autocomplete="off" maxlength="50" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" *ngIf="newInputType === 'password'"
                  (click)="newInputType = 'text'">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                <span class="input-group-text" id="basic-addon2" *ngIf="newInputType === 'text'"
                  (click)="newInputType = 'password'">
                  <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </span>
              </div>
            </div>

            <div *ngIf="f.new_password.errors" class="col-12 invalid-feedback d-flex align-items-center p-0">
              <div class="d-flex align-items-center" *ngIf="changeFormError && f.new_password.errors?.required">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="pl-1">Please enter new password</span>
              </div>
              <div class="d-flex align-items-center" *ngIf=" changeFormError && f.new_password.errors?.canNotContainSpace &&
                  !f.new_password.errors?.required ">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="pl-1">Please enter new password</span>
              </div>
              <div class="d-flex align-items-center" *ngIf=" (f.new_password.errors.minlength ||
              changePasswordForm.controls.new_password.hasError( 'pattern' )) &&
              !f.new_password.errors?.canNotContainSpace && !f.new_password.errors?.required ">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="pl-1">Password must be min 8 characters long and alphanumeric</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button (click)="changePassword()" [disabled]="saveLoading"
        class="btn btn-block signup-btn bg-color-primary-300 rounded d-flex align-items-center justify-content-center mt-3">
        <i class="fas fa-save"></i>
        <ng-container><span class="pl-1"> Save</span></ng-container>
      </button>
    </div>
  </div>
</div> -->
<header class="leven-header">
  <nav class="navbar navbar-expand-lg navbar-light he pt-3 pb-3">
      <div class="container">
          <a class="navbar-brand img-brand" href="#"><img src="../../assets/images/leven_logo.png" alt="leven-logo"></a>
      </div>
  </nav>
</header>
<!-- header-section-end -->
<!-- forget-section-start -->
<section class="forget">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="forget-img d-flex justify-content-start align-items-start">
                  <img src="../../assets/images/forget_pass_vector.png" alt="forget_pass_vector">
                  <div class="cutome-otp d-flex justify-content-evenly align-items-center">
                      <div class="circle-do">
                          <span></span>
                      </div>
                      <div class="circle-do">
                          <span></span>
                      </div>
                      <div class="circle-do">
                          <span></span>
                      </div>
                      <div class="circle-do">
                          <span></span>
                      </div>
                  </div>
              </div>

          </div>
          <div class="col-lg-4">
              <div class="login-left">
                  <div class="send-messagesss pb-5 mb-5">

                      <div class="leave-message">
                          <h4>Enter New Password</h4>
                      </div>

                      <div class="mb-3">
                          <input type="text" class="form-control form-clasic mb-4" id="formGroupExampleInput" placeholder="Password">
                      </div>
                      <div class="mb-3">
                          <input type="text" class="form-control form-clasic mb-4" id="formGroupExampleInput" placeholder="Confirm Password">
                      </div>

                      <div class="login d-flex justify-content-between align-items-center submit-btn">
                          <a [routerLink]="['/profile']"><button class="btn common-btn" type="submit">SUBMIT</button></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
