<!-- <div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-5">
        <div class="d-flex align-items-center h-100">
          <img class="w-100 h-100 rounded" src="./assets/images/contact-us-min.jpg" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6 my-5">
        <div class="border h-100">
          <div class="text-center p-3">
            <h3 class="m-0 font-weight-bold">Contact Us</h3>
          </div>
          <hr class="m-0">
          <form class="" [formGroup]="contactUsForm">
            <div class="form-group p-3 py-4 m-0">
              <div class="d-flex">
                <div class="mr-3 w-100">
                  <input type="text" placeholder="First Name" formControlName="first_name"
                    class="form-control mr-3 w-100">

                  <div *ngIf="contactUsFormError && f?.first_name?.errors"
                    class="invalid-feedback d-flex align-items-center w-100">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span class="pl-1" *ngIf="f.first_name.errors?.required">Please enter first name.</span>
                  </div>

                </div>
                <div class="w-100">
                  <input type="text" placeholder="Last Name" formControlName="last_name" class="form-control w-100">

                  <div *ngIf="contactUsFormError && f?.last_name?.errors"
                    class="invalid-feedback d-flex align-items-center w-100">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span class="pl-1" *ngIf="f.last_name.errors?.required">Please enter first name.</span>
                  </div>

                </div>
              </div>
              <div class="mt-3">
                <input autocomplete="off" type="text" appNumber class="form-control mt-3" placeholder="Phone Number"
                  appNumber maxlength="10" ng2TelInput (ng2TelOutput)="getNumber($event)" formControlName="phone_number"
                  [ng2TelInputOptions]="{initialCountry: 'us'}" (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)" />

                <div *ngIf="contactUsFormError && f?.phone_number?.errors"
                  class="invalid-feedback d-flex align-items-center w-100">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  <span class="pl-1" *ngIf="f.phone_number.errors?.required">Please enter phone number.</span>
                </div>

              </div>
              <div class="mt-3">
                <input type="text" placeholder="Email" formControlName="email" class="form-control">

                <div *ngIf="contactUsFormError && f?.email?.errors"
                  class="invalid-feedback d-flex align-items-center w-100">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  <span class="pl-1" *ngIf="f.email.errors?.required">Please enter email .</span>
                  <span class="pl-1" *ngIf="f.email.errors?.email">Please enter valid email .</span>
                </div>

              </div>
              <div class="mt-3">
                <textarea class="form-control" rows="3" formControlName="message"
                  placeholder="Write The Message"></textarea>

                <div *ngIf="contactUsFormError && f?.message?.errors"
                  class="invalid-feedback d-flex align-items-center w-100">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  <span class="pl-1" *ngIf="f.message.errors?.required">Please enter message .</span>
                </div>

              </div>

              <div class="d-flex mt-3">
                <ngx-recaptcha2 #captchaElem siteKey="6Lc70vUZAAAAACZ_Kw-xFrIFx69JuTbBgC-TO9ip" (reset)="handleReset()"
                  (success)="handleSuccess($event)" [size]="size" [hl]="lang" [theme]="theme" [type]="type"
                  formControlName="recaptcha">
                </ngx-recaptcha2>

                <div *ngIf="contactUsFormError && f?.recaptcha?.errors"
                  class="invalid-feedback d-flex align-items-center w-100">
                  <i class="fa fa-info-circle ml-2" aria-hidden="true"></i>
                  <span class="pl-1" *ngIf="f.recaptcha.errors?.required">Please check the box to complete.</span>
                </div>

              </div>

              <button
                class="btn btn-success w-100 mt-3  position-relative d-flex align-items-center justify-content-center"
                [disabled]="saveLoading" (click)="contactUs()">
                Send
                <i *ngIf="saveLoading" class="fa fa-spinner rotating" aria-hidden="true"></i>
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
