<section class="leven-tokn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="token-tent">
          <p class="mb-0">
            Our world has been engulfed with cryptocurrency and all its
            complexity.
          </p>

          <p class="mb-0">
            We have today in addition to Bitcoin there are numerous alternative
            (Altcoins) out there growing faster than bitcoin or {{crypto_name}}.
          </p>
          <p class="mb-0">
            One of those similar coins coming into the market today is Leven
            Token (LEVEN)
          </p>
          <p class="mb-0">
            Leven token is a new unique blockchain that looks to save cost for
            all its users in so many ways.
          </p>

          <p>
            A User Owned Decentralized Settlement Network For Real World
            Payments
          </p>
          <h4>What is {{crypto_name}}?</h4>
          <p>((crypto short summary here))</p>

          <h4>What is Leventoken ICO?</h4>
          <p>
            Leven Project is looking to raise funds to create a new payment
            network. Interested backers can buy into the offering and receive a
            new Leventoken issued by the Leven Project.
          </p>
          <h4>How can I participate in the ICO Token sale?</h4>
          <p>
            You connect your wallet to participate in token sales. Available
            1000 free tokens each holder for 50 Million Airdrops, signup at
            www.leventoken.com to get your free Leventokens.
          </p>
          <h4>Share and get more tokens</h4>
          <p>
            We also have a referral program to help you sign up new backers and
            earn 100 Leventokens per each new signup and they earn 1000
            Leventoken each.
          </p>
          <h4>How do I benefit from the ICO Token?</h4>
          <p>
            Leventoken is the utility token to power the new Leven Network. You
            will benefit from this ICO by becoming an early adopter and picking
            up the tokens at the 1st price available. Leventokens will have many
            use cases that will be a driver of demand, from our payment
            applications, product tokens crowdfunding and people token
            applications.
          </p>
          <p>
            Buy Leven today at
            <a href="http://www.levenproject.org/" target="_blank"
              >www.levenproject.org</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
