<!-- <div class="container-fluid" style="height: 100vh">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-md-4 p-4 bg-white rounded shadow">
      <div class="d-flex justify-content-center flex-column align-items-center">
        <img class="img-fluid mb-4" src="./assets/images/logo.png" />
        <h3>Reset Password</h3>
      </div>
      <form class="form-register pt-4" [formGroup]="resetPasswordForm">
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password"
            placeholder="Please enter your password" formControlName="password" required />
          <div *ngIf="f.password.errors" class="invalid-feedback d-block">
            <div *ngIf="reset_submit && f.password.errors?.required">
              Please enter the password
            </div>
            <div *ngIf="
                f.password.errors?.minlength ||
                f.password?.hasError('pattern')
              ">
              Password must be 8 characters and alphanumeric.
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="pass"
            placeholder="Please re-enter your password" formControlName="confirm_password" required />
          <div *ngIf="f.confirm_password.errors" class="invalid-feedback d-block">
            <div *ngIf="reset_submit && f.confirm_password.errors?.required">
              Please re-enter the password
            </div>
            <div *ngIf="f.confirm_password?.errors?.mustMatch">
              Passwords must match
            </div>
          </div>
        </div>
        <div class="mt-3">
          <button _ngcontent-c1="" class="btn btn-success" type="button" (click)="resetPassword()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<header class="leven-header">
  <nav class="navbar navbar-expand-lg navbar-light he pt-3 pb-3">
      <div class="container">
          <a class="navbar-brand img-brand" href="#"><img src="../../assets/images/leven_logo.png" alt="leven-logo"></a>
      </div>
  </nav>
</header>
<!-- header-section-end -->
<!-- forget-section-start -->
<section class="forget">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="forget-img d-flex justify-content-start align-items-start">
                  <img src="../../assets/images/forget_pass_vector.png" alt="forget_pass_vector">
                  <div class="cutome-otp d-flex justify-content-evenly align-items-center">
                      <div class="circle-do">
                          <span></span>
                      </div>
                      <div class="circle-do">
                          <span></span>
                      </div>
                      <div class="circle-do">
                          <span></span>
                      </div>
                      <div class="circle-do">
                          <span></span>
                      </div>
                  </div>
              </div>

          </div>
          <div class="col-lg-4">
              <div class="login-left">
                <form [formGroup]="resetPasswordForm">
                  <div class="send-messagesss pb-5 mb-5">

                      <div class="leave-message">
                          <h4>Enter New Password</h4>
                      </div>

                      <div class="mb-3">
                          <input type="text" formControlName="password" class="form-control form-clasic mb-4" id="formGroupExampleInput" placeholder="Password">
                          <div *ngIf="f.password.errors" class="invalid-feedback d-block">
                            <div *ngIf="reset_submit && f.password.errors?.required">
                              Please enter the password
                            </div>
                            <div *ngIf="
                                f.password.errors?.minlength ||
                                f.password?.hasError('pattern')
                              ">
                              Password must be 8 characters and alphanumeric.
                            </div>
                          </div>
                        </div>
                      <div class="mb-3">
                          <input type="text" formControlName="confirm_password" class="form-control form-clasic mb-4" id="formGroupExampleInput" placeholder="Confirm Password">
                          <div *ngIf="f.confirm_password.errors" class="invalid-feedback d-block">
                            <div *ngIf="reset_submit && f.confirm_password.errors?.required">
                              Please re-enter the password
                            </div>
                            <div *ngIf="f.confirm_password?.errors?.mustMatch">
                              Passwords must match
                            </div>
                          </div>
                        </div>

                      <div class="login d-flex justify-content-between align-items-center submit-btn">
                          <a ><button  (click)="resetPassword()" class="btn common-btn" type="submit">SUBMIT</button></a>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
