<div class="layout-wrapper d-flex flex-column">
  <shared-header></shared-header>
  <!-- <button type="button" id="sidebarCollapse" class="sidebar-collapse-btn btn btn-info">
    <i class="fas fa-align-left"></i>
    <span>Toggle Sidebar</span>
  </button> -->
  <div class="container-fluid page-wrapper p-3">
    <div class="row layout-content flex-grow-1">
      <div class="col-12 col-md-4 col-lg-3 d-none d-lg-block">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-12 col-md-8 col-lg-9 account-form">
        <!-- <router-outlet> </router-outlet> -->
      </div>
    </div>
  </div>

  <shared-footer></shared-footer>
</div>
