<section class="leven-tokn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="token-tent">
          <h1>
            {{city}} Crypto Marketing Manager
          </h1>
          <p>Leven Project is building the world's production blockchain platform for digital assets. Our team has one
            of the best developers out there, but we can not be complete without great marketing talent. Our passion is
            to build an open, accessible and fair financial world.
            We are promoting Leven token, our naive coin that powers our blockchain to the world as we gear up to launch
            soon.
          </p>

          <p>Are you the one to lead our marketing team in {{city}} as we change the world of digital assets?</p>
          <h4>Qualifications</h4>
          <ul>

            <li>
              No coding necessary
            </li>
            <li>
              Previous crypto marketing experience is great
            </li>
            <li>
              Previous marketing experience required
            </li>
            <li>
              Optimistic and relentless effort, we love someone dedicated to thoroughness and detail with a passion for
              crypto and its potential
            </li>
            <li>
              Experience working with the press
            </li>
            <li>
              Experience working on social media platforms
            </li>
            <li>
              Self starter
            </li>

          </ul>


          <h4>Responsibilities</h4>
          <ul>
            <li>
              Serve as {{city}} day-to-day point of contact for all product communications initiatives.
            </li>
            <li>
              Use our marketing and referral tools for all marketing Leven token
            </li>
            <li>
              Create and execute communications programs that amplify Leventoken’s product messages, highlight product
              capabilities and increase customer awareness, engagement and adoption in {{city}}
            </li>
            <li>
              Work closely with marketing and product teams to develop written materials around key product launches,
              including company messaging and statements, communications plans, pitches, press releases, blog posts,
              talking points, FAQs, and other collateral
            </li>
            <li>
              Additionally, you will be responsible for working with and building our {{city}} community of Influencers,
              helping them to develop content, track their value, and support their working knowledge of Parallel for
              questions and messages that arise on their respective channels
            </li>
          </ul>
          <h4>Benefits</h4>
          <ul>
            <li>
              Get a share of 75 million Leven tokens allocated for the team
            </li>
            <li>
              Join a community that is changing the world
            </li>
            <li>
              Enjoy a highly diverse and international culture
            </li>
            <li>
              An opportunity to build the future and freedom to work wherever you want
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
