/******************************************* Define your color constants here ***********************************************************/

$color-red: red;
$color-green: red;
$color-blue: red;
$color-white: #fff;
$color-black: red;
$color-star: #f7aa03;
$google-btn-color: #dd4b39;
$fb-btn-color: #3a559f;

$color-primary: #1a2a49;
$color-primary-200 : #177db8;
$color-primary-300 : #17a2b8;
$color-primary-400 : #1ebbd3;
$color-primary-500 : #17c9d6;
$color-primary-600 : #25dfdf;

$color-gray-400:#606264;

