@import "_color.scss";

.circle-green {
  font-size: 6px !important;
  color: #25bb63 !important;
}
.circle-black {
  font-size: 6px !important;
}
.star-color {
  color: $color-star !important;
}

.color-gray-400{
  color: $color-gray-400 !important;
}
.bg-color-gray-400{
  background-color: $color-gray-400 !important;
}
.color-primary-300{
  color: $color-primary-300 !important;
}
.color-primary-300{
  color: $color-primary-300 !important;
}
.text-primary{
  color: $color-primary-300 !important;
}
.text-white{
  color: $color-white !important;
}