/* create-account-style-start */

.leave-message h4 {
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 1.5px;
  color: #202020;
}

.form-clasic::placeholder {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #606060;
}

.form-control:focus {
  box-shadow: none;
  border-color: #e5e5e5;
  outline: unset;
  color: unset;
}

.form-clasic {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.forget {
  line-height: 45px;
  margin-bottom: 0px;
  font-size: 14px;
  letter-spacing: 0.48px;
  color: #202020;
}

.form-clasicc {
  border: none;
}

.login-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.login {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #606060;
}

.login span {
  color: #202020;
  font-weight: bold;
  font-size: 16px;
  line-height: 75px;
}

.image-vecter {
  text-align: center;
}

.image-vecter img {
  width: 100%;
  max-width: 800px;
}

i.toggle-password.far.fa-eye,i.toggle-password.far.fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.login-form {
  position: relative;
}


/* create-account-style-end */

@media screen and (max-width: 1200px) {
  .leave-message h4 {
      font-size: 32px;
  }
  .leave-message p {
      font-size: 14px;
  }
  .common-btn {
      font-size: 14px;
      letter-spacing: 0.6px;
  }
  .login {
      font-size: 12px;
  }
  .login span {
      font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .leave-message h4 {
      font-size: 24px;
      margin-bottom: 12px;
      line-height: 40px;
  }
  .leave-message p {
      font-size: 12px;
      margin-bottom: 0px;
  }
}

@media screen and (max-width: 414px) {
  .login {
      flex-wrap: wrap-reverse;
      line-height: 10px;
  }
  .login span {
      line-height: 30px;
  }
  .login p {
      padding-bottom: 10px;
  }
  .common-btn {
      font-size: 12px;
      letter-spacing: 0.6px;
      padding: 10px 33px;
  }
  .forget {
      line-height: 16px;
      padding-top: 6px;
  }
}
